<ul class="posts-list">
{% for post in postslist | reverse %}
  <li class="posts-list__item">
    <h2 class="posts-item-title">
      <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    </h2>
    <time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <p class="card__description">{{ post.data.description }}</p>
  </li>
{% endfor %}
</div>
